<meta charset="UTF-8">
<title>Friend Finder</title>

<!-- CSS reset file -->
<link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">

<!-- Bootstrap if needed -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- my style sheet -->

<style>
/* body, header and footer styling */
body{
	background: lightgrey url('../images/light-grey-terrazzo.png');
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	font-size: 12px;
}

main {
	margin: 50px 0px auto;
}

footer{
	margin-top: 20px;
	text-align: center;
	width: 100%;
	height: 30px;
	position: relative;
	bottom: 0px;
	left: 0px;
}

a:link {
	text-decoration: none;
	font-weight: bolder;
	color: darkslategrey;
}

a:hover {
	text-decoration: none;
	color: darkslateblue;
}

/* navbar styling */

nav {
background-color: darkslateblue;
width: 100%;
height: 30px;
position: fixed;
left: 0px;
top: 0px;
box-shadow: 1px 1px 2px #000000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

#brand {
	font-size: 20px; 
	margin: 0px 10px;
	padding: 0px;
}
#brand:hover {
	background-color:darkslateblue;
}

nav li a:link, nav li a:visited {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
	font-weight: normal;
}

nav li a:hover {
    background-color: black;
	color: white;
	text-decoration: none;
	font-weight: normal;
}

.mainContent {
	width: 800px;
	background-color:white;
	min-height: 450px;
	padding: 18px;
	margin: 0px auto;
	text-align: center;
	line-height: 20px;
	border: 1px solid grey;
	box-shadow: 1px 1px 3px darkslategray;
}
.mainContent p {
	text-align: center;
}

</style>