<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="mainContent">
			<h1>Your Match</h1>
			<div id="matchInfo">
				<p>No match? Take the <a href="/">Friend Finder Quiz</a>!</p>
				<!-- User Data and Match populate here -->
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script type="text/javascript">
		var windowName = window.location.href.split('/match/')[1];
		var userName = name.split('/')[0];
		var answers = name.split('/')[1];
		console.log(userName +  answers);
	
		$.ajax({
			url: '/match/' + windowName,
			method: 'GET'
		}).then(function(data){
			console.log(data);
			$('#matchInfo').html('username: ' + userName + '<BR>answers: ' + answers + '<BR>your best bud: ');		
			console.log(data);
		});
	</script>
	</body>
</html>