<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="mainContent">
			<h1>Your Match</h1>
			<div id="matchInfo">
				<p>No match? Take the <a href="/">Friend Finder Quiz</a>!</p>
				<!-- User Data and Match populate here -->
			</div>
			<span id="matchAnswers">
				<!-- match data populates here -->
			</span>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<!-- jquery here -->
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

	<!-- link to compare javascript -->
	<!-- <script src="/javascript/compare.js"></script> -->

	<!-- link to compareJax javascript -->
	<!-- <script src="/javascript/compareJax.js"></script> -->

	<!-- ajax call for data on page -->
	<script type="text/javascript">
		var windowName = window.location.href.split('/match/')[1];
		var userName = windowName.split('/')[0];
		var answers = windowName.split('/')[1];
		
		$.ajax({
			url: '/match/' + windowName,
			method: 'GET'
		}).then(function(data){
			console.log(data);
			
			$('#matchInfo').html('Well ' + userName + ', the numbers are in!<BR>Your Scores: ' + answers + '<BR>Your Best Bud is: ');
	
			console.log(data);
		});

		$.ajax({
			url: '/users',
			method: 'GET'
		}).then(function(data){

			// gets data for all users except the last one (current user)

			var p, id, answers, matchName;
			for (i=0; i<data.length - 1; i++){
			user = data[i].user;
			id = i + 1;
			answers = data[i].answers;
			console.log(user);
				for (var j=0; j<answers.length; j++){
					console.log(answers[j]);
				}

			// checks to see which is the closest answers
			

			// adds match data to page
			$('#matchAnswers').text(matchName);
		}
       
    
});

	</script>
	</body>
</html>