<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="mainContent">
			<h1>Your Match</h1>
			<div id="matchInfo">
				<p>No match? Take the <a href="/">Friend Finder Quiz</a>!</p>
				<!-- User Data and Match populate here -->
			</div>
			<span id="matchAnswers">
				<!-- match data populates here -->
			</span>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<!-- jquery here -->
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

	<!-- link to compare javascript -->
	<!-- <script src="/javascript/compare.js"></script> -->

	<!-- link to compareJax javascript -->
	<!-- <script src="/javascript/compareJax.js"></script> -->

	<!-- ajax call for data on page -->
	<script type="text/javascript">
		var windowName = window.location.href.split('/match/')[1];
		var userName = windowName.split('/')[0];
		var userAnswers = windowName.split('/')[1];
		
		$.ajax({
			url: '/match/' + windowName,
			method: 'GET'
		}).then(function(data){
			console.log(data);
			
			$('#matchInfo').html('Well ' + userName + ', the numbers are in!<BR>Your Scores: ' + userAnswers + '<BR><BR>Your Best Bud is: ');
	
			console.log(data);
		});

		$.ajax({
			url: '/users',
			method: 'GET'
		}).then(function(data){

			// gets data for all users except the last one (current user)

			var p, id, answers, matchName;
			var finalDifferences = [];

			for (i=0; i<data.length - 1; i++){
				otherUsers = data[i].user;
				id = i + 1;
				answers = data[i].answers;
				console.log(otherUsers);

			// checks to see which is the closest answers
			var diffArray = [];

				for (var j=0; j<answers.length; j++){
					var difference = 0;
					difference += (Math.abs(answers[j] - userAnswers[j]));
					diffArray.push(difference);
					console.log(diffArray);
					
					var diffSum = 0;
					for (var k=0; k<diffArray.length; k++){
						diffSum = diffSum + diffArray[k];
					}
				}
			finalDifferences.push(diffSum);
			}
			
			var min = Math.min.apply(Math, finalDifferences)
			var minPosition = finalDifferences.indexOf(min);
			var matchName = data[minPosition].user;
			var matchEmail = data[minPosition].email;

			// adds match data to page
			console.log('Final differences: ' + finalDifferences + ' & Final lowest score: ' + min + ', which is at position ' + minPosition + ' ...and your match is... ' + matchName);

			$('#matchAnswers').html(matchName + '<BR>' + matchEmail);
       
    
});

	</script>
	</body>
</html>