<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="mainContent">
			<h1>Your Match</h1>
			<div id="matchInfo">
				<p>No match? Take the <a href="/">Friend Finder Quiz</a>!</p>
				<!-- User Data and Match populate here -->
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<!-- jquery here -->
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

	<!-- link to compare javascript -->
	<script src="/javascript/compare.js"></script>

	<!-- ajax call for data on page -->
	<script type="text/javascript">
		var windowName = window.location.href.split('/match/')[1];
		var userName = windowName.split('/')[0];
		var answers = windowName.split('/')[1];
		// console.log(userName +  answers);

		$.ajax({
			url: '/match/' + windowName,
			method: 'GET'
		}).then(function(data){
			console.log(data);
			$('#matchInfo').html('Well ' + userName + ', the numbers are in!<BR>Your Scores: ' + answers + '<BR>Your Best Bud is: ');		
			console.log(data);
		});
	</script>
	</body>
</html>